{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class='col-md-12'>
    <br />
    <p class='lead'>The City of Chicago is selling vacant residential lots for <strong>$1</strong>. Here's how you get one.</p>

    <div class='well'>
      <div class='row'>

        {% if application_active %}
          <div class='col-md-8'>
            <h3>Large Lots 3: Austin <small class='open'>Open</small></h3>

            <p>The third Large Lot program is open in Austin! <br />Applications will be accepted until <strong>January 31st, 2015</strong>. <a href='{% url "apply" %}'>Apply for a lot today!</a></p>

            <p><a href='{% url "apply" %}' class="btn btn-success btn-lg">Apply for a lot</a></p>

          </div>
          <div class='col-md-4'>
            <p><a href='{% url "apply" %}'><img src='{% static "images/phase-3-screenshot-1.png" %}' class='img-responsive img-thumbnail' alt='Austin' /></a></p>
          </div>
        {% else %}
          <div class='col-md-8'>
            <h3>Large Lots 3: Austin <small class='closed'>Ended on January 31st, 2015</small></h3>

            <p> The third Large Lot Program ended in Austin on <strong>January 31st at 11:59 p.m.</strong> Applicants will be contacted via a letter regarding the status of their application.
            </p>

            <p><strong>Check back later for updates!</strong></p>

          </div>
          <div class='col-md-4'>
            <p><img src='{% static "images/phase-3-screenshot-1.png" %}' class='img-responsive img-thumbnail' alt='Austin' /></p>
          </div>
        {% endif %}
      </div>
    </div>

    <div class='well'>
      <div class='row'>
        <div class='col-md-8'>
          <h3>Large Lots 2: East Garfield Park <small class='closed'>Ended on August 4th, 2014</small></h3>

          <p> The second Large Lot Program ended in East Garfield Park on <strong>August 4th at 11:59 p.m.</strong> and 190 lots were successfully applied for. <a href='{% url "status_pilot_2" %}'>Check the status of each lot &raquo;</a>
          </p>

          <p><a href='{% url "status_pilot_2" %}' class="btn btn-danger btn-lg">Check application status</a></p>

        </div>
        <div class='col-md-4'>
          <p><a href='{% url "status_pilot_2" %}'><img src='{% static "images/phase-2-screenshot-1.png" %}' class='img-responsive img-thumbnail' alt='East Garfield Park' /></a></p>
        </div>
      </div>
    </div>

    <div class='well'>
      <div class='row'>
        <div class='col-md-8'>
          <h3>Large Lots 1: Greater Englewood Area <small class='closed'>Ended on April 21st, 2014</small></h3>

          <p>The first Large Lot pilot program ended on <strong>April 21st, 2014</strong> and 276 lots were sold as of January 30, 2015. <a href='{% url "status_pilot_1" %}'>See what lots were sold &raquo;</a></p>

          <p><a href='{% url "status_pilot_1" %}' class="btn btn-danger btn-lg">See what lots were sold</a></p>

        </div>
        <div class='col-md-4'>
          <p><a href='{% url "status_pilot_1" %}'><img src='{% static "images/phase-1-screenshot-1.png" %}' class='img-responsive img-thumbnail' alt='Englewood, Washington Park and Woodlawn' /></a></p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-8'>
        <h3>About</h3>
        <p>The <strong>Large Lot Program</strong> is a housing land use approach that was developed as part of the <a href='http://www.cityofchicago.org/city/en/depts/dcd/supp_info/green-healthy-neighborhoods.html'>Green Healthy Neighborhoods</a> public planning process. This website was built to make the process of purchasing City-owned land through this program easier for residents. <a href='/about'>Read more &raquo;</a>
      </div>
    </div>
  </div>
{% endblock %}
